	<%= f.label :title %>
 	<%= f.text_field :title, :class => "input-block-level" %>
  <%= f.label :location %>
  <%= f.text_field :location, :class => "input-block-level" %>

  <div class="alert alert-danger" role="alert">
  If you fill validity date/time partially, no expiration date will be set!
  </div>

  <%= f.label :validity_date %>
  <%= f.date_field :validity_date %>


  <%= f.label :validity_time %>
  <%= f.time_field :validity_time%>

  <%= f.label :experience %>
  <%= f.number_field :experience, :class => "input-block-level"%>

  <%= f.label :description %>
  <%= f.text_area :description, :class => "input-block-level" %>

  <br/>
