<h1>My Job Offers</h1>
<table class="table table-bordered">
	<tr>
		<th>Title</th>
		<th>Location</th>
		<th>Description</th>
		<th>Postulations</th>
		<th>Is active</th>
		<th>Experience</th>
		<th>Actions</th>
	</tr>
	<% @offers.each do | offer| %>

	<tr>
			<td>
			<%= offer.title %>
		</td>
		<td>
			<%= offer.location %>
		</td>
		<td>
			<%= offer.description %>
		</td>		
		<td>
			<%= @job_applications.find_by_offer(offer).length %>
		</td>		
		<td>
			<%= offer.is_active %>
		</td>
		<td>
			<% if offer.experience.blank? %>
				Not specified
			<% else %>
				<%= offer.experience %>
			<% end %>
		</td>


		<td>
			<%= link_to 'Edit', url_for(:job_offers, :edit, :offer_id => offer.id), :class => "btn btn-primary" %>
			<%- form_tag url(:job_offers, :destroy, :offer_id => offer.id), :method => :delete, :style => 'display:inline' do %>
                <button type='submit' title="Delete offer" rel='tooltip' class="btn btn-secondary" >Delete
                </button>
       <% end %>
       <% if not offer.is_active and not offer.expired_offer?%>
				<%- form_tag url(:job_offers, :activate, :offer_id => offer.id), :method => :put, :style => 'display:inline' do %>
	                <button type='submit' title="Activate offer" rel='tooltip' class="btn btn-secondary" >Activate
	                </button>
	       <% end %>
       <% end %>
       <% if not offer.is_active and offer.expired_offer?%>
				<%- form_tag url(:job_offers, :activate, :offer_id => offer.id), :method => :put, :style => 'display:inline' do %>
	                <button type="button" class="btn btn-secondary btn-lg" disabled>Expired</button>
	       <% end %>
       <% end %>
       <% if offer.is_active and not offer.satisfied?%>
				<%- form_tag url(:job_offers, :satisfy, :offer_id => offer.id), :method => :put, :style => 'display:inline' do %>
	                <button type='submit' title="Satisfied offer" rel='tooltip' class="btn btn-secondary" >Satisfied
	                </button>
	       <% end %>
       <% end %>
       <% if offer.is_active and offer.satisfied?%>
				<%- form_tag url(:job_offers, :unsatisfy, :offer_id => offer.id), :method => :put, :style => 'display:inline' do %>
	                <button type='submit' title="Unsatisfied offer" rel='tooltip' class="btn btn-secondary" >Unsatisfy
	                </button>
	       <% end %>
       <% end %>

		</td>	
	</tr>

  <% end %>



</table>